@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, sans-serif;
}


[data-key="status"] [data-value="Completed"] {
  background-color: #f0fdf4;
  color: #16aba2;
  padding: 3px 10px;
  border-radius: 10px;
}

.dark {
  background-color: #0a0a0a !important;
  color: #ffffff !important;
}

.light {
  background-color: #ffffff !important;
  color: #0a0a0a !important;
}

.dark .bg-white {
  background-color: #171717 !important;
}
